@import url(https://cdn.datatables.net/v/dt/dt-1.11.3/b-2.0.1/sp-1.4.0/datatables.min.css);
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f2f3f5;
}

.main {
    padding-bottom: 150px;
}

.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    padding: 3px;
    margin-left: 2%;
}

.navbar-title {
    font-weight: bold;
    font-size: 1.025rem;
}

.navbar-subtitle {
    font-size: 0.9rem;
    margin-top: -17px;
}

.footer {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.footer p {
    font-size: 1.2rem;
    font-weight: 400;
}

.card {
    border: none;
    border-radius: 0.8rem;
    background-color: #fff;
    width: 80%;
}

.card-body {
    margin-left: 35px;
}

label[for="viacep_manual1"],
label[for="viacep_manual2"] {
    font-weight: bold;
}

label[for="cep"] {
    text-transform: uppercase;
    font-weight: bold;
}

label[for="city"],
label[for="street"] {
    text-transform: capitalize;
    font-weight: bold;
}

input {
    height: 43px;
}

#form-create {
    position: relative;
    top: 35px;
    margin-bottom: 50px;
}

#form-delete {
    display: inline;
}

.form-check-input {
    width: 1.2em;
    height: 1.2em;
}

.form-control:focus {
    color: #4d4d4d;
    background-color: #fff;
    border-color: #4d4d4d;
    outline: 0;
    box-shadow: 0 0 0 0rem #fff;
}

.form-check-input:checked {
    background-color: #c4c4c4;
    border-color: #c4c4c4;
}

.form-group-check {
    margin-top: -30px;
}

.notification-danger {
    margin-top: -30px;
}

.form-check-input:focus {
    border-color: #c4c4c4;
    outline: 0;
    box-shadow: 0 0 0 0rem #000;
}

.btn-custom-success {
    color: #fff;
    background-color: #009b51;
    border-color: #009b51;
    margin-left: 10px;
    height: 42px;
    width: 80%;
    border-radius: 0.35rem;
}

.btn-custom-success:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

.btn-delete-custom {
    width: 120px;
    margin-left: 10%;
    height: 42px;
    color: #fff;
    background-color: #009b51;
    border-color: #009b51;
    border-radius: 0.35rem;
}

.btn-delete-custom:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

#table {
    width: 100%;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.dataTables_info {
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.btn-success-msg {
    margin-right: 10px;
    color: #fff;
    background-color: #009b51;
    border-color: #009b51;
}
.btn-success-msg:hover {
    color: #fff;
    background-color: #157347;
    border-color: #146c43;
}

